<template>
	<form id="join-form" @submit.prevent="submit" class="row half_row">
		<div class="form-group col-md-6 half_col">
			<input id="name" type="text" class="form-control" name="name" placeholder="Name*" v-model="fields.name" />
			<div v-if="errors && errors.name" class="text-primary">{{ errors.name[0] }}</div>
		</div>
		<div class="form-group col-md-6 half_col">
			<input id="phone" type="text" class="form-control" name="phone" placeholder="Phone" v-model="fields.phone" />
			<div v-if="errors && errors.phone" class="text-primary">{{ errors.phone[0] }}</div>
		</div>
		<div class="form-group col-lg-12 half_col">
			<input id="email" type="email" class="form-control" name="email" placeholder="Email Address*" v-model="fields.email" />
			<div v-if="errors && errors.email" class="text-primary">{{ errors.email[0] }}</div>
		</div>
		<div class="form-group col-md-6 half_col">
			<div class="select-holder">
				<select name="position" class="form-control" v-model="fields.position">
					<option value="*">Select your preffered position</option>
					<option value="Attacker">Attacker</option>
					<option value="Midfielder">Midfielder</option>
					<option value="Defender">Defender</option>
					<option value="Goalkeeper">Goalkeeper</option>
					<option value="Jack of all trades">Jack of all trades</option>
				</select>
			</div>
			<div v-if="errors && errors.position" class="text-primary">{{ errors.position[0] }}</div>
		</div>
		<div class="form-group col-md-6 half_col">
			<div class="datetime-holder">
        <datetime type="date" v-model="dob" :flow="['year', 'date']" :input-class="'form-control datepick'" format="dd/MM/yyyy"></datetime>
      </div>
      <div v-if="errors && errors.dob" class="text-primary">{{ errors.dob[0] }}</div>
    </div>
		<div class="form-group col-12 half_col mb-4">
			<textarea id="message" type="text" class="form-control" name="message" placeholder="Tell us about any previous football experience you have*" rows="4" v-model="fields.message"></textarea>
			<div v-if="errors && errors.message" class="text-primary">{{ errors.message[0] }}</div>
		</div>
		<div class="col-md-6 half_col">
			<div id="recaptcha-error" class="text-primary text-left"></div>
			<div class="g-recaptcha mb-3" :data-sitekey="this.$props.recaptcha"  :data-theme="'light'" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
		</div>
		<div class="col-md-6 half_col">
			<div class="row">
				<div class="col-12 text-center text-lg-right">
					<button id="submit" type="submit"  class="btn btn-primary">Send message</button>
				</div>
			</div>
		</div>
	</form>
</template>
<script>
	import 'vue-datetime/dist/vue-datetime.css';
	export default {
		props: {
			recaptcha: String,
			page: String,
			about: String,
		},
		data() {
			return {
				fields: {
					country: "",
					position: "*",
					dob: "",
				},
				dob: "",
				errors: {},
				success: false,
				loaded: true,
			}
		},
		watch:{
    	dob: function(newValue, oldValue) {
    		console.log(newValue);
	      if(newValue == ''){
	        $('#join-form .vdatetime').removeClass('hide-placeholder');
	      }else{
	        $('#join-form .vdatetime').addClass('hide-placeholder');
	      }
	      this.setDob();
	    }
	  },
		mounted(){
			$.getScript("https://www.google.com/recaptcha/api.js");
		},
		methods: {
			setDob(){
				this.fields.dob = this.dob;
			},
			messageSent(){
        this.fields = {};
      },
      changeCountry(value){
	  		this.fields.country = value;
	  	},
      submit() {
      	if (this.loaded && grecaptcha.getResponse().length > 0) {
      		$('#recaptcha-error').html('');
      		this.loaded = false;
      		this.success = false;
      		this.errors = {};
      		
      		document.getElementById("loader").classList.add("on");
		      document.getElementById("loader-message").innerHTML = "Sending Enquiry";

      		axios.post('/send-join-form', this.fields)
      		.then(response => {
	          // Empty fields and enable success message
	          grecaptcha.reset();
	          this.loaded = true;
	          this.success = true;
	          this.messageSent();
	          document.getElementById("loader-message").innerHTML = "Enquiry sent successfully";
            $('#close-loader-btn').removeClass('d-none').addClass('d-block');
            $('#loader-roller').removeClass('d-block').addClass('d-none');
            $('#loader-success').removeClass('d-none').addClass('d-block');
	          $('#enquire_modal').modal('hide');
	        })
      		.catch(error => {
	         // Error handling
	         console.log(error.response);
	          this.loaded = true;
	          if (error.response.status === 422) {
	          	this.errors = error.response.data.errors || {};
	          	
	          	document.getElementById("loader-message").innerHTML = "Check form for errors";
	            document.getElementById("loader").classList.remove("on");
	          }
	        });
      	}else{
      		$('#recaptcha-error').html('Please confirm you are not a robot.');
      	}
      },
    },
  }
</script>
<style lang="scss">
	@import '/node_modules/vue-datetime/dist/vue-datetime.min.css';
</style>