<style lang="scss">
	@import '~vuetify/dist/vuetify.min.css';
	@import '~@mdi/font/css/materialdesignicons.min.css';
	$light: #fff;
	$green: #50EA9D;
	$primary: #D95C92;
	$second: #5C478F;
	$secondary: #5C478F;
	$lightblue: #8DC3FF;
	$dark:#0F0A4D;
	a{
		text-decoration: none !important;
	}
	.v-application{
		font-family: nunito-sans, sans-serif;
	}
	.v-main{
		background-color: $light;
		color: $second;
	}
	h1{
		font-size: 2.5rem;
	}
	h2{
		font-size: 2rem;
		&.page-title{
			color: $lightblue;
			text-transform: uppercase;
			letter-spacing: 6px;
			font-weight: 300 !important;
			padding-top: 1rem;
		}
		&.school-name{
			font-size: 1.8rem;
		}
	}
	h1,h2,h3,h4{
		font-family: objektiv-mk1, sans-serif;
		font-weight: 600 !important;
	}
	h2.user-name{
		font-size:3rem;
		line-height: 1;
	}
	p{
		color: $dark;
		b{
			font-weight: 600;
		}
		&.text-large{
			font-size: 18px;
		}
		&.text-small{
			font-size: 14px;
		}
	}
	.v-btn{
		letter-spacing: 0;
		font-weight: 600 !important;
	}
	.fw-600{
		font-weight: 600 !important;
	}
	.text-pink{
		color: $primary !important;
	}
	.text-dark{
		color: $dark !important;
	}
	.theme--light.v-divider{
		border-color: $second !important;
	}
	.v-sheet.v-card:not(.v-sheet--outlined),
	.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined){
		-webkit-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1) !important;
		-moz-box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1) !important;
		box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.1) !important;
	}
	.v-card__title{
		color: $dark !important;
		font-weight: 600 !important;
		font-size: 1.1rem;
	}
	.theme--light.v-card .v-card__subtitle, 
	.theme--light.v-card>.v-card__text{
		color: $dark !important;
	}
	.border-left{
		border-left: 1px solid $primary;
	}
	.theme--light.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border{
		background-color: transparent !important;
	}
	.round-image{
		border-radius: 100%;
		width: 100px;
		height: 100px;
		overflow: hidden;
		display: inline-block;
		margin-bottom: -17px;
	}
	.footer-margin{
		margin-bottom: 100px;
	}
	.theme--light.v-navigation-drawer{
		background-color: #352774 !important;
		.theme--light.v-icon{
			color: #ffffff !important;
		}
	}
	.theme--light nav .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled){
		color: #ffffff !important;
	}
	.v-application .v-list-group--active.primary--text{
		color: #ffffff !important;
	}
	@media only screen and (max-width : 767px){
		.v-application .mob-py-0{
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
		.v-application .mob-my-0{
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
		.footer-margin{
			margin-bottom: 200px;
		}
		#customer-avatar,
		.round-image{
			margin-bottom: 0px;
			width: 50px !important;
			height: 50px !important;
		}
		h2.user-name{
			font-size: 7vw;
		}
	}
</style>
<template>
	<v-app id="app">
		<v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app >
      <v-list dense>
      	<v-row align="center">
          <v-col cols="12">
          	<router-link :to="{ name: 'Dashboard' }" v-on:click.native="backToTop()">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-view-dashboard</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >Dashboard</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
	          </router-link>
	          <router-link :to="{ name: 'Projects' }" v-on:click.native="backToTop()">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-clipboard-file-outline</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >Projects</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
	          </router-link>
	          <router-link :to="{ name: 'Account' }" v-on:click.native="backToTop()">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-account</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >Account Management</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
	          </router-link>
			      <a href="/logout">
	          	<v-list-item link light>
		            <v-list-item-action>
			            <v-icon>mdi-logout</v-icon> 
		            </v-list-item-action>
		            <v-list-item-content>
		            	<v-list-item-title >Logout</v-list-item-title>
		            </v-list-item-content>
		          </v-list-item>
		        </a>
      		</v-col>
      	</v-row>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="white" light >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title style="width: 300px" class="ml-0 pl-4 pt-2">
        <a href="/" target="_blank">
	      	<img src="/img/logos/logo.svg?v1.0" alt="QuoPro logo" width="100"/>
	      </a>
      </v-toolbar-title>
      <v-spacer />
      <a href="/logout" target="_blank">
      	<v-btn text color="primary" class="fw-600 d-none d-md-block">Logout</v-btn>
      </a>
    </v-app-bar>
    <v-main>
      <v-container class="py-5  px-5 footer-margin">
        <v-row class="py-5">
        	<v-col cols="12" class="mb-0" v-if="alertStatus">
        		<v-alert v-model="alertStatus" dense text dismissible :type="alert.type">{{alert.message}}</v-alert>
					</v-col>
        	<v-col cols="12" class="py-5 my-5 mob-py-0 mob-my-0 dash-title" v-if="title == 'Dashboard'">
  	    		<h2 class="text-dark">Hi {{user.first_name}}</h2>
		    		<v-divider class="my-3"/>
		    		<p class="text-dark">Welcome to your CollabArchive dashboard, from here you can <u><router-link :to="{ name: 'Projects' }" v-on:click.native="backToTop()">complete project tasks</router-link></u> and <u><router-link :to="{ name: 'Account' }" v-on:click.native="backToTop()">manage your account</router-link></u>.</p>
	        </v-col>
          <transition name="fade" mode="out-in" appear>
						<router-view :key="$route.path" @showLoader="showLoader" @hideLoader="hideLoader" @pageChange="function (type, page){pageChanged('extra', ...arguments)}"  @showAlert="showAlert"/>
					</transition>
        </v-row>
      </v-container>
      <v-footer color="secondary" padless absolute bottom v-if="title != 'Task'">
		    <v-row justify="center" no-gutters>
		      <v-col class="secondary lighten-2 py-4 text-center white--text" cols="12">
		        {{ new Date().getFullYear() }} — <strong>CollabArchive</strong> - Website by <a href="https://elementseven.co" style="color:white;"><u>Element Seven</u></a>
		      </v-col>
		    </v-row>
	  	</v-footer>
    </v-main>
    <v-overlay :value="loader">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
	</v-app>
</template>
<script>
	export default {
		components: { 
		},
		props: {
			user: Object,
      source: String,
    },
		data() {
      return {
      	userob: this.user,
      	overlay: false,
      	zIndex: 1000,
      	links: [
	        'Home',
	        'About Us',
	        'Team',
	        'Services',
	        'Blog',
	        'Contact Us',
	      ],
	      alert:{
	      	type: '',
	      	message: '',
	      },
      	dialog: false,
      	loader: false,
	      drawer: null,
	      alertStatus: false,
				pageType: 'dark',
				page: 'home',
				title: '',
			}
		},
		mounted(){
		},
		updated(){
		},
		methods: {
			showAlert(value){
				this.alertStatus = true;
				this.alert.type = value.type;
				this.alert.message = value.message;
	  	},
	    pageChanged(value1, value2, value3){
	    	this.pageType = value1.type;
	    	this.page = value2.page;
	    	this.title = value2.title;
	    },
	    showLoader(){
	  		this.loader = true;
	  	},
	  	hideLoader(){
	  		this.loader = false;
	  	},
	    backToTop(){
				setTimeout(function(){
					document.body.scrollTop = document.documentElement.scrollTop = 0;
				},450);
			}
		}
	}
</script>
<style lang="scss">
	.dash-title{
		.v-avatar{
			box-shadow: 0 0 .5rem rgba(29,61,141,.2) !important;
			margin-top: -40px;
		}
	}
</style>