<template>
	<v-container>
		<v-row class="mt-5">
			<v-col cols="12" v-if="projects != null">
				<h2 class="text-dark mb-5">Your Projects</h2>
				<v-row v-for="p in projects" v-bind:key="p.id">
					<v-col cols="6">
						<p class="text-dark mb-0 pt-2"><b>{{p.title}}</b></p>
					</v-col>
					<v-col cols="3">
						<p class="text-dark mb-0 pt-2">{{p.usertaskscomplete}} of {{p.usertaskscount}} tasks submitted</p>
					</v-col>
					<v-col cols="3" class="text-right">
						<router-link :to="{ name: 'Project',  params: {projectSlug: p.slug } }">
							<v-btn color="primary">Continue Project</v-btn>
						</router-link>
					</v-col>
					<v-col cols="12">
						<v-divider class="my-0"/>
					</v-col>
				</v-row>
			</v-col>
		</v-row>
	</v-container>
</template>
<script>

	export default {
		components: { 

		},
		data() {
      return {
      	projects: null,
			}
		},
		mounted(){
			this.$emit('hideLoader');
			this.$emit('pageChange', {'type':'dark', 'page':'home', 'title':'Dashboard'});
			this.getProjects();
		},
		metaInfo: {
			title: 'Dashboard - CollabArchive',
	    meta: [
	      { name: 'description', content: 'CollabArchive - User Dashboard' },
	      { name: 'og-image', content: 'https://collabarchive.org/img/og.jpg' }
	    ]
	  },
	  methods:{
	  	getProjects(){
	  		axios.get('/projects/users/get').then(response => {
          this.projects = response.data;
          console.log(this.projects);
          this.loaded = true;
          this.$emit('hideLoader');
        })
        .catch(error => {
          this.$emit('hideLoader');
          // Error handling
          console.log(error);
        });
	  	},
	  	showAlert(value){
	  		this.$emit('showAlert', {'type':value.type, 'message':value.message});
	  	},
	  	showLoader(){
	  		this.$emit('showLoader');
	  	},
	  	hideLoader(){
	  		this.$emit('hideLoader');
	  	},
	  }
	}
</script>