<template>
	<v-container>
		<v-row class="my-5" v-if="project != null">
			<v-col cols="12">
				<p class="mb-1 text-uppercase"><b>{{project.category.name}}</b></p>
				<h2 class="text-dark mb-4">{{project.title}}</h2>
				<p><i>{{project.usertaskscomplete}} of {{project.usertaskscount}} tasks submitted</i></p>
				<v-divider class="my-0"/>
			</v-col>
		</v-row>
		<v-row>
			<v-col cols="12" v-if="project.usertasks">
				<h3 class="mb-4">Your Tasks:</h3>
				<v-row v-for="t in project.usertasks" v-bind:key="t.id">
					<v-col cols="8">
						<p class="text-dark text-large mb-0 pt-2"><b>Task: </b> {{t.type}} - {{t.title}}</p>
					</v-col>
					<v-col cols="4" class="text-right">
						<router-link :to="{ name: 'Task',  params: { taskSlug: t.slug, taskId: t.id } }" v-if="t.status == 'Ready for volunteer'">
							<v-btn color="primary">Continue</v-btn>
						</router-link>
						<p v-else-if="t.status == 'Submitted'" class="mb-0 pt-2"><v-icon small color="yellow">mdi-timer-sand-complete</v-icon> <i>Task Submitted</i></p>
						<p v-else-if="t.status == 'Complete'" class="mb-0 pt-2"><v-icon small color="green">mdi-check-circle-outline</v-icon> <i>Task complete</i></p>
					</v-col>
					<v-col cols="12">
						<v-divider class="my-0"/>
					</v-col>
				</v-row>
			</v-col>
			<!-- <v-col cols="4" class="pl-5">
				<h3 class="mb-4">Project Files</h3>
				<p class="text-small" v-for="d in project.downloads"><a :href="d.link" target="_blank" class="text-dark"><v-icon small color="primary">mdi-cloud-download-outline</v-icon> <u>{{d.title}}</u></a></p>
			</v-col> -->
		</v-row>
	</v-container>
</template>
<script>
	export default {
		data() {
      return {
      	slug: null,
      	project: null,
      	tasks: null,
			}
		},
		mounted(){
			this.$emit('pageChange', {'type':'dark', 'page':'Account', 'title':'Account'});
			this.getProject();
		},
		metaInfo: {
			title: 'Project - CollabArchive',
	    meta: [
	      { name: 'description', content: 'CollabArchive - Project' },
	      { name: 'og-image', content: 'https://collabarchive.com/img/og.jpg' }
	    ]
	  },
	  methods:{
	  	showAlert(value){
	  		this.$emit('showAlert', {'type':value.type, 'message':value.message});
	  	},
	  	showLoader(){
	  		this.$emit('showLoader');
	  	},
	  	hideLoader(){
	  		this.$emit('hideLoader');
	  	},
	  	getProject(){
        axios.get('/projects/users/get/' + this.$route.params.projectSlug).then(response => {
          this.project = response.data;
          this.loaded = true;
          this.$emit('hideLoader');
        })
        .catch(error => {
          this.$emit('hideLoader');
          // Error handling
          console.log(error);
        });
      },
	  }
	}
</script>
<style lang="scss">

</style>