<template>
	<v-container>
		<v-row class="my-5" v-if="task != null">
			<v-col cols="12">
				<p class="mb-1 text-uppercase"><b>{{task.assignment.project.category.name}}</b></p>
				<h2 class="text-dark mb-0">{{task.assignment.project.title}}</h2>
			</v-col>
		</v-row>
		<v-row class="mt-5" v-if="task != null">
			<transcription :task="task" v-if="task.type == 'Transcription'" @showAlert="showAlert" @showLoader="showLoader" @hideLoader="hideLoader"></transcription>
			<closed-captions :task="task" v-if="task.type == 'Closed Captions'" @showAlert="showAlert" @showLoader="showLoader" @hideLoader="hideLoader"></closed-captions>
			<spread-sheet :task="task" v-if="task.type == 'Spreadsheet'" @showAlert="showAlert" @showLoader="showLoader" @hideLoader="hideLoader"></spread-sheet>
			<audio-transcription :task="task" v-if="task.type == 'Audio Transcription'" @showAlert="showAlert" @showLoader="showLoader" @hideLoader="hideLoader"></audio-transcription>
		</v-row>
		
	</v-container>
</template>
<script>
	const Transcription = () => import(/* webpackChunkName: "UsersTranscription" */ '../components/tasks/Transcription.vue');
	const ClosedCaptions = () => import(/* webpackChunkName: "UsersClosedCaptions" */ '../components/tasks/ClosedCaptions.vue');
	const SpreadSheet = () => import(/* webpackChunkName: "UsersSpreadSheet" */ '../components/tasks/SpreadSheet.vue');
	const AudioTranscription = () => import(/* webpackChunkName: "UsersAudioTranscription" */ '../components/tasks/AudioTranscription.vue');
	export default {
		components:{
			Transcription,
			ClosedCaptions,
			SpreadSheet,
			AudioTranscription
		},
		data() {
      return {
      	task: null,
			}
		},
		mounted(){
			this.$emit('pageChange', {'type':'dark', 'page':'Account', 'title':'Task'});
			this.getTask();
		},
		metaInfo: {
			title: 'Task - CollabArchive',
	    meta: [
	      { name: 'description', content: 'CollabArchive - Task' },
	      { name: 'og-image', content: 'https://collabarchive.com/img/og.jpg' }
	    ]
	  },
	  methods:{
	  	showAlert(value){
	  		this.$emit('showAlert', {'type':value.type, 'message':value.message});
	  	},
	  	showLoader(){
	  		this.$emit('showLoader');
	  	},
	  	hideLoader(){
	  		this.$emit('hideLoader');
	  	},
	  	getTask(){
        axios.get('/tasks/get/' + this.$route.params.taskId + "/" + this.$route.params.taskSlug).then(response => {
          this.task = response.data;
          this.loaded = true;
          this.$emit('hideLoader');
        })
        .catch(error => {
          this.$emit('hideLoader');
          // Error handling
          console.log(error);
        });
      }
	  }
	}
</script>
<style lang="scss">

</style>