#app{
	min-height: 100vh;
	&.admin{
		padding-top: 95px;
	}
}
.cut {
  background: #1D252D;
  position: absolute;
  bottom: -240px;
  left: -100px;
  width: calc(100% + 200px);
  height: 300px;
  transform-origin: center top;
  transform: rotate(4deg);
  z-index: 5;
}
.primary-line{
	border-top: 2px solid $primary;
}
.green-line{
	border-top: 2px solid $green;
}
.rounded{
	position: relative;
	border-radius: 30px !important;
	.close{
		position: absolute;
		top: 1.2rem;
		right: -1.5rem;
		cursor: pointer;
	}
}
.overflow-x-hidden{
	overflow-x: hidden;
	overflow-y: visible;
}
.search-page{
	min-height: 100vh;
}
.z-1{
	z-index: 1;
}
.z-2{
	z-index: 2;
}
.z-3{
	z-index: 3;
}
.z-100{
	z-index: 3;
}
.list-style-none{
	list-style: none;
}
.rounded-box{
	border-radius: 5px;
}
.card{
	border-radius:0;
	border: 0;
	@include boxShadow();
}
.full-height{
	height: 100vh;
}
.ipad-height{
	height: 768px;
	max-height: 100vh;
}
.modal{
	background-color: rgba(2,105,221, 0.8);
	text-align: center;
	z-index: 1500;
	.modal-content{
		background-color: transparent;
		border: 0;
	}
	&.danger{
		background-color: $transred;
	}
}
.testimonial-quote{
	width: 100px;
}
.pagination-holder{
	display: table;
	margin: auto;
	.pagination{
		display: inline-flex;
	}
}
.trans{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $transgrey;
}
.trans-dark{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.modal-close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 200;
	width: 40px;
	height: 40px;
	cursor: pointer;
	@include transition(300ms);
	&:hover{
		transform: rotate(90deg);
	}
}
.blog-body{
	font-size: 1.3rem;
	img{
		max-width: 100%;
	}
	p{
		margin-bottom: 0;
	}
	strong{

	}
	blockquote{
		background-color: transparent;
		color: $black;
    padding: 1rem;
    font-style: none;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    line-height: 1.3;
    border-left: 2px solid #000;
	}
	h2{
		margin-bottom: 0;
	}
}
.mw-100{
	max-width: 100vw !important;
}
#map{
	position: absolute;
	top: 100px;
	right: 0;
	width: 45vw;
	height: calc(100vh - 100px);
}
.zoom-link{
	cursor: pointer;
	.zoom-img{
		width: 100%;
		height: 233px;
		max-height: 233px;
		overflow: hidden;
		position: relative;
		img{
			position: absolute;
	    top:-100%; left:0; right: 0; bottom:-100%;
	    margin: auto;
	    @include transition(1000ms);
		}
		&.product-image{
			height: 100%;
			max-height: inherit;
			img{
				position: relative;
			}
		}
	}
	&:hover{
		.zoom-img{
			img{
				transform: scale(1.1);
			}
		}
	}
}
.shadow{
	@include boxShadow();
}
[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
  display: none;
}
.top-padding{
	padding-top: 100px;
}
.img-backdrop{
	position: relative;
	img{
		position: relative;
		z-index: 1;
	}
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-image: url('/img/graphics/backdrop.svg');
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 0;
		@include transition(300ms);
	}
	&.on{
		&:before{
			left: -1.5rem;
			top: -1.5rem;
		}
	}
}
.project-row{
	.img-backdrop{
		position: relative;
		z-index: 1;
	}
	.project-card{
    padding: 3rem;
    z-index: 2;
    position: absolute;
    top: calc(50% - 165px);
    left: -330px;
    .btn{
    	position: absolute;
    	bottom: -1.5rem;
    }
		&:after{
			position: absolute;
			content: "";
			width: 45px;
			height: 45px;
			right: 0;
			bottom: 0;
			background-image: url('/img/graphics/card-corner.svg');
			background-size: 100%;
			background-repeat: no-repeat;
			z-index: 0;
		}
	}
	&:nth-child(odd){
		.project-card{
			left: auto;
			right: -330px;
		}
	}
}
.team-card{
	position: relative;
	padding: 2rem;
	margin-top: 100px;
	img{
		margin-top: calc(-100px - 2rem);
	}
	&:after{
			position: absolute;
			content: "";
			width: 45px;
			height: 45px;
			right: 0;
			bottom: 0;
			background-image: url('/img/graphics/card-corner.svg');
			background-size: 100%;
			background-repeat: no-repeat;
			z-index: 0;
		}
}
.project-resource{
	min-height: 80px;
	position: relative;
	.icon{
		position: absolute;
		top: 0;
		left: 0;
		width: 32px;
		height: 61px;
	}
	.text{
		position: absolute;
		top: 0;
		left: 32px;
		height: 61px;
		width: calc(100% - 32px);
		p{
			line-height: 1.3;
		}
	}
}
#project-carousel{
	.owl-theme{
		.owl-nav{
	    margin-top: 1rem;
	    margin-bottom: -30px;
	    position: absolute;
	    bottom: -2rem;
	    left: calc(50% - 70px);
			.owl-prev{
		    font-size: 18px;
		    font-family: $title;
		    padding-left: 20px;
		    line-height: 1;
		    text-align: left;
		    position: relative;
		    color: #1D252D;
		    width: 70px;
		    height: 28px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					left: 0;
					top: 6px;
					background-image: url('/img/icons/pointer-left-dark.svg');
					background-size: contain;
					width: 9px;
					height: 16px;
					background-repeat: no-repeat;
				}
			}
			.owl-next{
				font-size: 18px;
				font-family: $title;
		    line-height: 1;
		    position: relative;
		    color: #1D252D;
		    padding-right: 20px;
		    width: 70px;
		    height: 28px;
				background-color: transparent;
				&:after{
					position: absolute;
					content: "";
					right: 0;
					top: 6px;
					background-image: url('/img/icons/pointer-right-dark.svg');
					background-size: contain;
					width: 9px;
					height: 16px;
					background-repeat: no-repeat;
				}
			}
		}
	}	
}
