// Fonts --------------------

$title: 'Barlow Condensed', sans-serif;
$body: 'Open Sans', sans-serif;
$fancy: 'Open Sans', sans-serif;

// Body
$body-bg: #1D252D;

// Typography
$font-family-sans-serif: 'Barlow Condensed', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #60A8DB;
$lightblue: #97C9EB;
$indigo: #5C478F;
$purple: #352774;
$pink: #D95C92;
$red: #E73C62;
$orange: #FF7141;
$yellow: #EECC45;
$green: #5CCC4A;
$darkgreen: #42872c;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$formgrey: #757575;

// Colours -----------------
$primary: #D95C92; 
$primarylight: #F084B3;
$primarydark: #B44374;
$second: #60A8DB;
$white: #fff;
$black: #000;
$navy: #0037D2;
$lightnavy: #465966;
$darknavy: #1C2D4B;
$darkgrey: #1D252D;
$midgrey: #6b6b6b;
$lightbg: #f3f3f7;
$lightgrey: #f3f3f7;
$grey: #1D252D;
$bluegrey: #A8B1B7;
$highlight: #FF6A6A;
$mastercard: #FF4D2D;
$visa: #283891;

$transgreylight: rgba(29,37,45,0.65);
$transgrey: rgba(29,37,45,0.4);
$transgreydark: rgba(0,0,0,0.85);
$transwhite: rgba(255,255,255,0.6);
$transblue: rgba(0,0,0,0.32);
$transbluelight: rgba(26,126,244,0.2);
$transbluedark: rgba(38,60,75,0.9);
$transred: rgba(224,38,28,0.8);
$transdark: rgba(19,22,41,0.3);