<template>
	<v-container>
		<v-row>
			<v-col cols="8">
				<h3 class="text-dark mb-2">{{task.type}} - {{task.title}}</h3>
				<p class="text-dark mb-2" v-if="task.assignment.instructions">{{task.assignment.instructions}}</p>
				<p class="text-dark mb-0" v-if="task.instructions" v-html="task.instructions"></p>
			</v-col>
			<v-col cols="4" class="text-right">
				<v-btn color="primary" class="mr-2" @click="save">Save</v-btn>
			  <v-btn color="green" @click.stop="dialog = true">Submit Task</v-btn>
			</v-col>
			<v-col cols="12">
				<v-divider class="my-0"/>
			</v-col>
			
			<v-col cols="12">
				<h3 class="text-dark mb-2">Step One</h3>
				<v-row>
					<v-col cols="4">
						<p class="mb-1"><b>(1) Set Amount of Columns</b></p>
						<p class="mb-3">Add or remove columns using the buttons below.</p>
						<v-btn color="green" @click="insertCol()">Add column</v-btn>
						<v-btn color="red" @click.stop="dialog2 = true">Remove column</v-btn>
					</v-col>
					<v-col cols="6">
						<p class="mb-1"><b>(2) Set Column Names</b></p>
						<p class="mb-3">Select a column below and enter a column name in the popup box.</p>
						<v-select
		          :items="content.columns"
		          label="Select Column"
		          outlined
		          item-text="title"
          		item-value="value"
		          v-model="columnNumber"
		          @change="jExcelObj.setHeader(columnNumber)"
		        ></v-select>
		      </v-col>
				</v-row>
				<v-divider class="mt-0 mb-4"></v-divider>
				<div class="w-100">
					<h3 class="text-dark mb-2">Step Two</h3>
					<p class="mb-1"><b>Spreadsheet data</b></p>
					<p class="mb-3">Copy the data from the image below into your spreadsheet</p>
					<div id="spreadsheet" ref="spreadsheet"></div>
				</div>
				<v-btn color="green" class="mt-3" @click="jExcelObj.insertRow()">Add row</v-btn>
			</v-col>
			<v-col cols="12">
				<zoom-on-hover :img-normal="task.file.original_url" :img-zoom="task.file.original_url" :scale="2.5"></zoom-on-hover>
			</v-col>
		</v-row>
		<v-footer color="secondary" inset bottom absolute>
    	<v-container class="py-0">
      	 <v-row justify="center" no-gutters>
		      <v-col class="py-4 white--text" cols="6">
		       <p class="text-large white--text mb-0" color="white">Don't forget to save your work.</p>
		      </v-col>
		      <v-col cols="6" class="text-right pt-3">
		      	<v-btn color="primary" class="mr-2" @click="save">Save</v-btn>
		      	<v-btn color="green" @click.stop="dialog = true">Submit Task</v-btn>
		      </v-col>
		    </v-row>
		  </v-container>
    </v-footer>
    <v-dialog
      v-model="dialog"
      max-width="290"
    >
      <v-card class="mx-auto">
        <v-card-title class="text-h5 text-dark">
          Are you sure?
        </v-card-title>

        <v-card-text class="text-dark">
          Only submit a task when you are sure it is complete. You cannot edit your work once it has been submitted for review.
        </v-card-text>

        <v-card-actions class="pb-3">
          <v-spacer></v-spacer>

          <v-btn
            color="red darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>

          <v-btn
            color="green"
            @click="submit"
          >
            Submit
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialog2"
      max-width="290"
    >
      <v-card class="mx-auto">
        <v-card-title class="text-h5 text-dark">
          Are you sure?
        </v-card-title>

        <v-card-text class="text-dark">
          Once you delete a column all of the data in that column will be lost.
        </v-card-text>

        <v-card-actions class="pb-3">
          <v-spacer></v-spacer>

          <v-btn
            color="red darken-1"
            text
            @click="dialog2 = false"
          >
            Close
          </v-btn>

          <v-btn
            color="green"
            @click="removeCol"
          >
            Confirm
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
	</v-container>
</template>
<script>
	import { VueEditor } from "vue2-editor";
	import jexcelStyle from "jspreadsheet-ce/dist/jspreadsheet.css";
	import jexcel from "jspreadsheet-ce";

	export default {
		props:{
			task: Object,
		},
		components: {
      VueEditor,
    },
		data() {
      return {
      	dialog: false,
      	dialog2: false,
      	content: {
      		columns: [
	          {value: 0, type: "text", title: "A", width: "175px" },
	          {value: 1, type: "text", title: "B", width: "175px" },
	          {value: 2, type: "text", title: "C", width: "175px" },
	          {value: 3, type: "text", title: "D", width: "175px" }
	        ],
	      	tableData: [
		        ["","",""]
		      ]
      	},
      	columnNumber: null,
			}
		},
		mounted(){
			if(this.task.content != null){
				this.content = JSON.parse(this.task.content);
			}
			this.$emit('pageChange', {'type':'dark', 'page':'Account', 'title':'Account'});
			const jExcelObj = jexcel(this.$refs["spreadsheet"], this.jExcelOptions);
			Object.assign(this, { jExcelObj });
		},
		computed: {
	    jExcelOptions() {
	      return {
	        data: this.content.tableData,
	        columns: this.content.columns
	      };
	    }
	  },
	  methods:{
	  	insertCol(){
	  		this.jExcelObj.insertColumn(null,null,false,{type: "text", width: "175px" });
	  		var columnheaders = this.jExcelObj.getHeaders().split(",");
	  		this.content.columns.push({value: (columnheaders.length -1), type: "text", title: columnheaders[columnheaders.length - 1], width: "175px" });
	  	},
	  	removeCol(){
	  		this.content.columns.pop();
	  		this.jExcelObj.deleteColumn();
	  		
	  		this.dialog2 = false;
	  	},
	  	save(){
	  		this.$emit('showLoader');
        this.loaded = false;
        this.errors = {};

        let formData = new FormData();
        formData.append('content', JSON.stringify(this.content));

        axios.post('/tasks/save/'+this.task.id, formData,{
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.$emit('hideLoader');
          this.$emit('showAlert', {'type':'success', 'message':'Progress Saved'});
          this.backToTop();
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
          this.$emit('hideLoader');
          this.$emit('showAlert', {'type':'error', 'message':'There was an error saving your progress'});
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
	  	},
	  	submit(){
	  		this.$emit('showLoader');
        this.loaded = false;
        this.errors = {};

        let formData = new FormData();
        formData.append('content', this.content.content);

        axios.post('/tasks/submit/'+this.task.id, formData,{
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.$emit('hideLoader');
          this.$emit('showAlert', {'type':'success', 'message':'Task Submitted'});
          this.dialog = false;
          this.$router.push({ name: 'Project',  params: {projectSlug: this.task.assignment.project.slug } });
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
          this.dialog = false;
          this.$emit('hideLoader');
          this.$emit('showAlert', {'type':'error', 'message':'There was an error submitting your task'});
        });
	  	},
      backToTop(){
				setTimeout(function(){
					document.body.scrollTop = document.documentElement.scrollTop = 0;
				},450);
			},
			showAlert(value){
	  		this.$emit('showAlert', {'type':value.type, 'message':value.message});
	  	},
	  	showLoader(){
	  		this.$emit('showLoader');
	  	},
	  	hideLoader(){
	  		this.$emit('hideLoader');
	  	},
	  }
	}
</script>
<style lang="scss">
	.ql-editor{
		min-height: 685px !important;
		p{
			color: #000000 !important;
		}
	}
</style>