<template>
	<v-container>
		<v-row>
			<v-col cols="8">
				<h3 class="text-dark mb-2">{{task.type}} - {{task.title}}</h3>
				<p class="text-dark mb-2" v-if="task.assignment.instructions">{{task.assignment.instructions}}</p>
				<p class="text-dark mb-0" v-if="task.instructions" v-html="task.instructions"></p>
			</v-col>
			<v-col cols="4" class="text-right">
				<v-btn color="primary" class="mr-2" @click="save">Save</v-btn>
			  <v-btn color="green" @click.stop="dialog = true">Submit Task</v-btn>
			</v-col>
			<v-col cols="12 mb-5">
				<v-divider class="my-0"/>
			</v-col>
			<v-col cols="6">
				<zoom-on-hover :img-normal="task.file.original_url" :img-zoom="task.file.original_url" :scale="2.5"></zoom-on-hover>
<!-- 				<img :src="task.file.original_url" :type="task.file.mime_type" class="w-100" :alt="task.title"/>
 -->			</v-col>
			<v-col cols="6">
				<vue-editor :editorToolbar="customToolbar" v-model="content"></vue-editor>
			</v-col>
		</v-row>
		<v-footer color="secondary" inset bottom absolute>
    	<v-container class="py-0">
      	 <v-row justify="center" no-gutters>
		      <v-col class="py-4 white--text" cols="6">
		       <p class="text-large white--text mb-0" color="white">Don't forget to save your work.</p>
		      </v-col>
		      <v-col cols="6" class="text-right pt-3">
		      	<v-btn color="primary" class="mr-2" @click="save">Save</v-btn>
		      	<v-btn color="green" @click.stop="dialog = true">Submit Task</v-btn>
		      </v-col>
		    </v-row>
		  </v-container>
    </v-footer>
    <v-dialog
      v-model="dialog"
      max-width="290"
    >
      <v-card class="mx-auto">
        <v-card-title class="text-h5 text-dark">
          Are you sure?
        </v-card-title>

        <v-card-text class="text-dark">
          Only submit a task when you are sure it is complete. You cannot edit your work once it has been submitted for review.
        </v-card-text>

        <v-card-actions class="pb-3">
          <v-spacer></v-spacer>

          <v-btn
            color="red darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>

          <v-btn
            color="green"
            @click="submit"
          >
            Submit
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
	</v-container>
</template>
<script>
	import { VueEditor } from "vue2-editor";
	export default {
		props:{
			task: Object,
		},
		components: {
      VueEditor,
    },
		data() {
      return {
      	dialog: false,
      	content: this.task.content,
      	customToolbar: [["bold", "italic", "underline"], [{ list: "bullet" }],["clean"]],
			}
		},
		mounted(){
			this.$emit('pageChange', {'type':'dark', 'page':'Account', 'title':'Account'});
		},
	  methods:{
	  	save(){
	  		this.$emit('showLoader');
        this.loaded = false;
        this.errors = {};

        let formData = new FormData();
        formData.append('content', this.content);

        axios.post('/tasks/save/'+this.task.id, formData,{
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.$emit('hideLoader');
          this.$emit('showAlert', {'type':'success', 'message':'Progress Saved'});
          this.backToTop();
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
          this.$emit('hideLoader');
          this.$emit('showAlert', {'type':'error', 'message':'There was an error saving your progress'});
          if (error.response.status === 422) {
            this.errors = error.response.data.errors || {};
          }
        });
	  	},
	  	submit(){
	  		this.$emit('showLoader');
        this.loaded = false;
        this.errors = {};

        let formData = new FormData();
        formData.append('content', this.content);

        axios.post('/tasks/submit/'+this.task.id, formData,{
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.$emit('hideLoader');
          this.$emit('showAlert', {'type':'success', 'message':'Task Submitted'});
          this.dialog = false;
          this.$router.push({ name: 'Project',  params: {projectSlug: this.task.assignment.project.slug } });
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error);
          this.dialog = false;
          this.$emit('hideLoader');
          this.$emit('showAlert', {'type':'error', 'message':'There was an error submitting your task'});
        });
	  	},
      backToTop(){
				setTimeout(function(){
					document.body.scrollTop = document.documentElement.scrollTop = 0;
				},450);
			},
			showAlert(value){
	  		this.$emit('showAlert', {'type':value.type, 'message':value.message});
	  	},
	  	showLoader(){
	  		this.$emit('showLoader');
	  	},
	  	hideLoader(){
	  		this.$emit('hideLoader');
	  	},
	  }
	}
</script>
<style lang="scss">
	.ql-editor{
		min-height: 685px !important;
		p{
			color: #000000 !important;
		}
	}
</style>