<template>
  <footer class="container-fluid text-center text-lg-left position-relative z-1">
    <div class="position-relative row mob-mt-0 mob-pt-3 ipadp-pt-0 ipadp-mt-0">
      <div class="container-fluid footer-top">
        <div class="row justify-content-center">
          <div class="container container-wide footer-top-content">
            <div class="row">
              <div class="col-lg-5 mob-mb-4">
                <p class="mimic-h2">Partners & Funding</p>
              </div>
              <div class="col-lg-7 text-center text-lg-left mob-pb-5">
                <picture>
                  <source srcset="/img/logos/lottery.webp" type="image/webp"/> 
                  <source srcset="/img/logos/lottery.png" type="image/png"/> 
                  <img src="/img/logos/lottery.png" type="image/png" alt="Lottery Logo" class="mt-2 mob-mt-0 mb-3 h-auto mob-mb-5 d-inline-block" width="166" height="60"/>
                </picture>
                <br class="d-lg-none" />
                <picture>
                  <source srcset="/img/logos/proni.webp" type="image/webp"/> 
                  <source srcset="/img/logos/proni.png" type="image/png"/> 
                  <img src="/img/logos/proni.png" type="image/png" alt="proni Logo" class="mt-2 mob-mt-0 mb-3 h-auto ml-5 mob-mx-0 mob-mb-5 d-inline-block" width="111" height="60"/>
                </picture>
                <br class="d-lg-none" />
                <picture>
                  <source srcset="/img/logos/nerve-centre.webp" type="image/webp"/> 
                  <source srcset="/img/logos/nerve-centre.png" type="image/png"/> 
                  <img src="/img/logos/nerve-centre.png" type="image/png" alt="nerve centre Logo" class="mt-2 mob-mt-0 mb-3 h-auto ml-5 mob-mx-0 d-inline-block" width="151" height="60"/>
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container container-wide mob-py-4">
        <div class="row my-5 mob-my-0">
          <div class="col-lg-6 d-none d-lg-block pr-5 mob-px-3">
            <img src="/img/logos/logo.svg" type="image/svg" class="footer-logo h-auto mt-2 mb-3" width="187" height="84" alt="CollabArchive Logo"/>
            <p class="mb-2">©2022 CollabArchive</p>
<!--             <p class="mb-0 mob-mb-2 mob-mt-2"><a href="/terms-and-conditions"><u>Terms & Conditions</u></a> | <a href="/privacy-policy"><u>Privacy Policy</u></a></p>
 -->          </div>
          <div class="col-lg-3 pt-4">
            <p class="mimic-h3">Visit Us</p>
            <p class="mob-mb-0">Nerve Centre<br/>7-8 Magazine Street<br/>Derry~Londonderry<br/>BT48 6HJ</p>
          </div>
          <div class="col-lg-3 pt-4">
            <p class="mimic-h3">Contact Us</p>
            <p class="mb-2"><a href="mailto:hello@collabarchive.org"><u>hello@collabarchive.org</u></a></p>
          </div>
          
        </div>
      </div>
    </div>
    <div class="row text-center position-relative z-2">
      <div class="container container-wide py-2">
        <hr/>
        <div class="row mb-2">
          <div class="col-lg-4 text-center text-lg-left">
            <p class="text-small mb-0 mob-mb-2 mob-mt-2"><a href="https://elementseven.co" target="_blank" aria-label="Element Seven Digital Limited" rel="noreferrer">Website by <u>Element Seven</u></a></p>
          </div>
          <div class="col-lg-8 text-center text-lg-right">

          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<style lang="scss">
  footer{
    color: #000000;
    .footer-top{
      height: 300px;
      background: rgb(96,168,219);
      background: -moz-linear-gradient(180deg, rgba(96,168,219,0) 4%, rgba(96,168,219,0.3646052170868347) 64%, rgba(217,92,146,0.3562018557422969) 100%);
      background: -webkit-linear-gradient(180deg, rgba(96,168,219,0) 4%, rgba(96,168,219,0.3646052170868347) 64%, rgba(217,92,146,0.3562018557422969) 100%);
      background: linear-gradient(180deg, rgba(96,168,219,0) 4%, rgba(96,168,219,0.3646052170868347) 64%, rgba(217,92,146,0.3562018557422969) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#60a8db",endColorstr="#d95c92",GradientType=1);
      .footer-top-content{
        padding-top: 8rem;
      }
    }
    .footer-bg{
      position: absolute !important;
      bottom: 0;
      left: 0;
      width: 100vw;
      min-height: 745px;
      height: 100%;
      z-index: 0;
      // background-image: url("/img/graphics/footer-bg.svg");
      // background-size: 1560px;
      // background-position: center bottom;
      // background-repeat: no-repeat;
    }
    a{
      cursor: pointer;
      color: #000;
      &:hover{
        color: #60A8DB;
      }
    }
    p{
      font-size: 1.1rem;
    }
    img{
      max-width: 100%;
    }
    .footer-social{
      font-size: 25px;
    }
    .footer-logo{
      width:100%;
      max-width: 187px;
    }
  }
  .footer-inner{
    border-top: 2px solid #fff;
  }
  .footer-top{
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    .footer-overlap{
      margin-top: -540px;
      &.team-overlap{
        margin-top: -420px;
      }
    }
  }
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
      footer{
      p{
        &.text-smallest{
          font-size: 16px;
        }
      }
      .mob-line-height{
        font-size: 16px;
        line-height: 2.5;
      }
      .footer-bg{
        // background-image: url("/img/graphics/footer-bg-mob.svg");
        // background-size: cover;
        // left: 0;
        // width: 100%;
        // height: calc(100% - 210px);
      }
    }
  }
  @media only screen and (max-width : 767px){
    footer{
      p{
        &.text-smallest{
          font-size: 3vw;
        }
      }
      .mob-line-height{
        font-size: 3.5vw;
        line-height: 2.5;
      }
      .footer-top{
        height: auto;
        .footer-top-content{
          padding-top: 4rem;
        }
      }
      .footer-bg{
        // background-image: url("/img/graphics/footer-bg-mob.svg");
        // background-size: cover;
        // left: 0;
        // width: 100%;
        // height: calc(100% - 210px);
      }
    }
  }
</style>