// iPad in landscape
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	
}
@media only screen and (max-width: 1024px) and (hover: none){
	.btn{
		width: 100%;
	  height: 50px;
	  font-size: 1rem;
	  font-weight: 600;
	  padding: 13px 20px;
	  max-width: 214px;
	  min-width: 214px;
	}
}