<template>
  <div class="container container-wide position-relative z-2 mb-5 pb-5 mob-mb-0">
    <div class="row mt-5 mob-mt-3">
      <div class="loading" v-if="success == false">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <p class="loading-text text-uppercase text-small text-blue letter-spacing text-center">Loading Projects...</p>
      </div>
      <projects-show :posts="posts" v-else></projects-show>
    </div>
  </div>  
</template>
<script>
export default {
  props: {
    count: Number,
  },
  data() {
    return {
      category: '*',
      errors: {},
      success: false,
      loaded: true,
      posts: [],
      limit: this.count,
      page: 1,
    }
  },
  mounted(){
    this.getPosts();
  },
  methods: {
    getPosts(page = 1) {
      
      if (this.loaded) {

        this.loaded = false;
        this.errors = {};
        this.offset = 0;
        this.loadmore = true;
        this.page = 1;
        axios.get('/projects/get?limit=' + this.limit + '&page=' + page + '&category=*').then(response => {
          // Empty fields and enable success message
          this.loaded = true;
          this.posts = response.data.data;
          this.success = true;
          if(response.data.last_page == response.data.current_page){
            this.loadmore = false;
          }
        })
        .catch(error => {
          // Error handling
          this.loaded = true;
          console.log(error.response);
        });
      }
    },
  },
}
</script>
<style lang="scss">
  .loading{
    height: 987px;
    width: 100%;
    position:relative;
    .lds-roller{
      position: absolute;
      top: 50px;
      left: calc(50% - 32px);
    }
    .loading-text{
      position: absolute;
      top: calc(50px + 75px);
      left: 0;
      width: 100%;
    }
  }
</style>