<template>
  <div id="transcription-view" class="container container-wide text-center text-lg-left" style="min-height: 818px;">
	  <div class="row" v-if="task != null && this.loaded == true">
	    <div class="col-lg-6">
        <picture>
          <source :srcset="task.normalwebp" type="image/webp"/> 
          <source :srcset="task.normal" :type="task.mimetype"/> 
          <img :src="task.normal" :type="task.mimetype" :alt="task.title" class="lazy w-100"/>
        </picture>
	    </div>
	    <div class="col-lg-6 content-part mob-mt-4">
	      <div class="transcription-content text-left mob-min-height-auto" v-html="formatContent(task.content)"></div>
	      <div class="row">
	      	<div class="col-lg-6">
	      		<p class="mb-0 mob-mb-3"><b>Page {{current}} of {{last_page}}</b></p>
	      	</div>
	      	<div class="col-lg-6">
	      		<div class="row">
	      			<div class="col-6">
	      				<p class="text-primary cursor-pointer mb-0"><b @click="prevPage()"><i class="fa fa-chevron-circle-left mr-2"></i>Previous Page</b></p>
	      			</div>
	      			<div class="col-6 text-right">
	      				<p class="text-primary cursor-pointer mb-0"><b @click="nextPage()">Next Page<i class="fa fa-chevron-circle-right ml-2"></i></b></p>
	      			</div>
	      		</div>
	      	</div>
	      </div>
	    </div>
	  </div>
	  <div class="row" v-else>
	  	<div class="col-12">
	  		<div class="loader" style="min-height: 700px;">
    			<div class="d-table-cell align-middle w-100 h-100">
        		<div class="loader-roller lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        		<p class="text-uppercase text-primary letter-spacing text-center mb-0">Loading</p>
        	</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
  	props:{
  		pagenumber: Number,
  	},
	  data() {
	    return {
	      assignment: 1,
	      errors: {},
	      success: false,
	      loaded: true,
	      task: null,
	      limit: 1,
	      current: 1,
	      page: this.pagenumber
	    }
	  },
	  mounted(){
	    this.getContent();
	  },
	  methods: {
	  	formatContent(htmlString){
	  		if(htmlString != null){
	  			const htmlNode = document.createElement('div');
					htmlNode.innerHTML = htmlString;
					htmlNode.querySelectorAll('*').forEach(function(node) {
					    node.removeAttribute('style');
					    if (node.innerHTML === '&nbsp;' || node.innerHTML === '') {
						    node.parentNode.removeChild(node);
						  }
					});
					
	  			return htmlNode.innerHTML;
	  		}else{
	  			return "";
	  		}
				
	  	},
	    getContent() {
	      if (this.loaded) {
	        this.loaded = false;
	        this.errors = {};
	        this.offset = 0;
	        this.loadmore = true;
        axios.get('/assignments/' + 7 +'/tasks?limit=' + this.limit + '&page=' + this.page).then(response => {
	          // Empty fields and enable success message
	          this.loaded = true;
	          this.task = response.data.data[0];
	          this.current = response.data.current_page;
	          this.last_page = response.data.last_page;
	          this.success = true;
	          if(response.data.last_page == response.data.current_page){
	            this.loadmore = false;
	          }
	        })
	        .catch(error => {
	          // Error handling
	          this.loaded = true;
	          console.log(error.response);
	        });
	      }
	    },
		  nextPage(page = this.current+1) {
	      if (this.loaded) {

	        this.loaded = false;
	        this.errors = {};
	        this.offset = 0;

	        axios.get('/assignments/' + 7 +'/tasks?limit=' + this.limit + '&page=' + page).then(response => {
	          // Empty fields and enable success message
	          this.loaded = true;
	          this.task = response.data.data[0];
	          this.current = response.data.current_page;
	          this.last_page = response.data.last_page;
	          this.success = true;
	          if(response.data.last_page == response.data.current_page){
	            this.loadmore = false;
	          }
	        })
	        .catch(error => {
	          // Error handling
	          this.loaded = true;
	          console.log(error.response);
	        });
	      }
	    },
	    prevPage(page = this.current-1) {
	      if (this.loaded) {

	        this.loaded = false;
	        this.errors = {};
	        this.offset = 0;

	        axios.get('/assignments/' + 7 +'/tasks?limit=' + this.limit + '&page=' + page).then(response => {
	          // Empty fields and enable success message
	          this.loaded = true;
	          this.task = response.data.data[0];
	          this.current = response.data.current_page;
	          this.last_page = response.data.last_page;
	          this.success = true;
	          if(response.data.last_page == response.data.current_page){
	            this.loadmore = false;
	          }
	        })
	        .catch(error => {
	          // Error handling
	          this.loaded = true;
	          console.log(error.response);
	        });
	      }
	    },
	  },
	}
</script>
<style lang="scss">
	#transcription-view{
		.loader{
			background-color: transparent;

		}
	}
	.content-part{
		min-height: 818px;
	}
	.transcription-content{
		min-height: 788px;
		font-family: 'Open Sans', sans-serif !important;
		font-size: 1rem !important;
		line-height: 1.7 !important;
		p{
			font-family: 'Open Sans', sans-serif !important;
			font-size: 1rem !important;
			line-height: 1.7 !important;
		}
	}
</style>