<template>
  <div class="container container-wide pt-3 text-center text-lg-left project-rows" v-if="posts.length > 0">
  	<div class="row">
  		<div class="container project-row"></div>
  		<div class="container container-wide project-row" v-for="(post, index) in posts">
			  <div class="row py-5" v-if="index % 2 != 0">
			    <div class="col-lg-2 d-none d-lg-block">
			      <div class="project-card card bg-white">
			        <p :class="'mb-0 text-uppercase title ' + post.category.slug">{{post.category.name}}</p>
			        <h3>{{post.title}}</h3>
			        <p class="mb-0">{{post.excerpt}}</p>
			        <a :href="'/projects/'+ post.slug" >
			          <button class="btn btn-primary" data-aos="fade-up">View Project</button>
			        </a>
			      </div>
			    </div>
			    <div class="col-12 col-lg-10">
			      <div class="img-backdrop my-5">
			        <picture>
	              <source :srcset="post.featuredwebp" type="image/webp"/> 
	              <source :srcset="post.featured" :type="post.mimetype"/> 
	              <img :src="post.featured" :type="post.mimetype" :alt="post.title" class="lazy w-100"/>
	            </picture>
			      </div>
			    </div>
			    <div class="col-lg-2 d-lg-none mob-px-4">
			      <div class="project-card card bg-white">
			        <p :class="'mb-0 text-uppercase title ' + post.category.slug">{{post.category.name}}</p>
			        <h3>{{post.title}}</h3>
			        <p class="mb-0">{{post.excerpt}}</p>
			        <a :href="'/projects/'+ post.slug" >
			          <button class="btn btn-primary" data-aos="fade-up">View Project</button>
			        </a>
			      </div>
			    </div>
			  </div>
			  <div class="row" v-else>
			    <div class="col-12 col-lg-10">
			      <div class="img-backdrop my-5">
			        <picture>
	              <source :srcset="post.featuredwebp" type="image/webp"/> 
	              <source :srcset="post.featured" :type="post.mimetype"/> 
	              <img :src="post.featured" :type="post.mimetype" :alt="post.title" class="lazy w-100"/>
	            </picture>
			      </div>
			    </div>
			    <div class="col-lg-2 mob-px-4">
			      <div class="project-card card bg-white">
			        <p :class="'mb-0 text-uppercase title ' + post.category.slug">{{post.category.name}}</p>
			        <h3>{{post.title}}</h3>
			        <p class="mb-0">{{post.excerpt}}</p>
			        <a :href="'/projects/'+ post.slug" >
			          <button class="btn btn-primary" data-aos="fade-up">View Project</button>
			        </a>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
  </div>
</template>
<script>
  export default {
    props: {
      posts: Array,
    },
    mounted(){
    	$('.img-backdrop').each(function(index, element){
            var inview = new Waypoint({
                element: element,
                handler: function (direction) {
                    if(direction === "down"){
                        $(element).addClass("animated on");
                        $(element).css('opacity','1');
                    }
                },offset: '95%'
            });
        });
    }
  }
</script>
<style lang="scss">
	.migration{
		color: #60A8DB !important;
	}
	.citizenship{
		color: #EECC45 !important;
	}
	.lgbtq{
		color: #5C478F !important;
	}
	.disability{
		color: #D95C92 !important;
	}
	.womens-history{
		color: #352774 !important;
	}
  .blog-card{
    p{
      &.read-more-blog{
        font-size: 1.2rem;
        a{
          color: #3968bf;
        }
      }    
      &.post-title{
        font-size: 2rem;
        line-height: 1.1;
        font-weight: 600;
      }
    }
    .post-summary{
      min-height: 256px;
    }
  }
  @media only screen and (max-width: 767px){
    .blog-card{
      p{
        &.read-more-blog{
          font-size: 3.5vw;
        }
        &.post-title{
          font-size: 5.7vw;
        }
      }
      .post-summary {
        min-height: 0px;
      }
    }
  }
</style>