<template>
	<div>
    <div class="top-grad"></div>
		<div id="main-menu" class="menu d-none d-lg-block top-on">
      <div id="menu-top" class="container-fluid px-5 py-1 d-none d-lg-block position-relative z-3">
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-6 text-right">
   <!--          <p class="letter-spacing text-small mb-0">
              <a href="https://www.facebook.com" aria-label="Facebook" rel="noreferrer" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com" aria-label="Instagram" rel="noreferrer" target="_blank"><i class="fa fa-instagram ml-4"></i></a>
              <a href="https://twitter.com" aria-label="Twitter" rel="noreferrer" target="_blank" ><i class="fa fa-twitter ml-4"></i></a>
              <a href="https://youtube.com" aria-label="Youtube" rel="noreferrer" target="_blank" ><i class="fa fa-youtube-play ml-4"></i></a>
            </p>
 -->          </div>
        </div>
      </div>
      <div class="container-fluid px-5 mob-px-3 ipadp-px-3">
        <div class="row">
          <div class="col-lg-2 page-home-pt-0">
            <a href="/">
              <img src="/img/logos/logo.svg" type="image/svg" alt="CollabArchive logo" class="menu_logo mt-2 h-auto" width="132" height="30"/>
            </a>
          </div>
          <div class="col-lg-10 text-right d-none d-lg-block">
            <div class="menu-links d-inline-block">
              <a href="/projects" class="menu-item cursor-pointer">Projects</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/about" class="menu-item cursor-pointer">About</a>
            </div>
            <div class="menu-links d-inline-block ">
              <a href="/blog" class="menu-item cursor-pointer">Blog</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/contact" class="menu-item cursor-pointer">Contact</a>
            </div>
            <div class="menu-links d-inline-block">
              <a href="/login" class="menu-item cursor-pointer text-primary">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props:{
      pagetype: String
    },
    mounted(){
      $(document).ready(function(){
        $('.img-backdrop').each(function(index, element){
            var inview = new Waypoint({
                element: element,
                handler: function (direction) {
                    if(direction === "down"){
                        $(element).addClass("animated on");
                        $(element).css('opacity','1');
                    }
                },offset: '95%'
            });
        });
        var inview = new Waypoint({
          element: $('#menu-trigger'),
          handler: function (direction) {
            if(direction === "down"){
              $('#main-menu').removeClass('top-on');
            }
          },offset: '1%'
        });
        var inview2 = new Waypoint({
          element: $('#menu-trigger-2'),
          handler: function (direction) {
            if(direction === "up"){
              $('#main-menu').addClass('top-on');
            }
          },offset: '1%'
        });
        // Initial state
        var scrollPos = 0;
        // adding scroll event
        window.addEventListener('scroll', function(){
          // detects new state and compares it with the new one
          if ((document.body.getBoundingClientRect()).top > scrollPos){
            $('#main-menu').addClass('on');
          }
          else{
            $('#main-menu').removeClass('on');
          }
          // saves the new position for iteration.
          scrollPos = (document.body.getBoundingClientRect()).top;
        });
        var lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy"
        });
        
        $(".scroll-btn").click(function(){
          $('html,body').animate({
             scrollTop: $(".scrollTo").offset().top
          });
        });
      });
    }
  }
</script>
<style lang="scss">
$primary: #D95C92;
$blue: #60A8DB;
$darkgrey: #1C2D4B;
$white: #fff;
$title: 'Barlow Condensed', sans-serif;
$body: 'Open Sans', sans-serif;
@mixin menuBoxShadow(){
  -webkit-box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.1) !important;
}
.top-grad{
  position: absolute;
  top: 99px;
  left: 0;
  height: 300px;
  width: 100%;
  z-index: 0;
  background: rgb(96,168,219);
  background: -moz-linear-gradient(0deg, rgba(96,168,219,0) 4%, rgba(96,168,219,0.3646052170868347) 64%, rgba(217,92,146,0.3562018557422969) 100%);
  background: -webkit-linear-gradient(0deg, rgba(96,168,219,0) 4%, rgba(96,168,219,0.3646052170868347) 64%, rgba(217,92,146,0.3562018557422969) 100%);
  background: linear-gradient(0deg, rgba(96,168,219,0) 4%, rgba(96,168,219,0.3646052170868347) 64%, rgba(217,92,146,0.3562018557422969) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#60a8db",endColorstr="#d95c92",GradientType=1);
}
.menu-holder{
  position: relative;
  z-index: 100;
}
#menu-trigger{
  position: fixed;
  top: 200px;
  left: 0;
  width: 1px;
  height: 1px;
}
#menu-trigger-2{
  position: fixed;
  top: 100vh;
  left: 0;
  width: 1px;
  height: 1px;
}
#main-menu-top{
  z-index: 250;
}
#menu-top{
  height: 15px;
  background: linear-gradient(270deg, #eecc45, #d95c92);
  background-size: 400% 400%;
  -webkit-animation: MenuGradientAnimation 8s ease infinite;
  -moz-animation: MenuGradientAnimation 8s ease infinite;
  animation: MenuGradientAnimation 8s ease infinite;
  a{
    color: #fff;
  }
}
@-webkit-keyframes MenuGradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes MenuGradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes MenuGradientAnimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
#main-menu{
  position: fixed;
  top: -200px;
  left: 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease ;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  &.top-on{
    top: 0 !important;
  }
  &.on{
    top: 0;
  }
}
.menu{
  position: absolute;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $white;
  @include menuBoxShadow();
  .menu_logo{
    width: 132px;
    margin: 5px 0;
  }
  .menu-links{
    .menu-item{
      display: inline-block;
      padding-left: 2.5rem;
      cursor: pointer;
      color: $darkgrey;
      font-family: $title;
      font-weight: 900;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      font-size: 1.3rem;
      padding-top: 25px;
      padding-bottom: 25px;
      background-color:#fff;
      position: relative;
      z-index: 2;
      -webkit-transition: all 300ms ease;
      -moz-transition: all 300ms ease ;
      -o-transition: all 300ms ease;
      transition: all 300ms ease;
      a{
        color: $darkgrey;
        &:hover{
          color: $blue;
        }
      }
      i{
        font-size: 1.2rem;
        margin-left: 10px;
        color: $darkgrey;
        &:hover{
          color: $blue;
        }
      }
      &:hover,
      &.active{
        color: $blue !important;
      }
    }
  }
  .menu-top-links{
    .menu-links{
      .menu-item{
        font-size: 0.8rem;
      }
    }
  }
  &.opacity{
    opacity: 0;
  }
}
@media only screen and (max-width : 1230px){
  .menu .menu-links .menu-item{
    margin-left: 0rem;
    font-size: 1rem;
    padding-left: 2rem;
  }
}
// iPad in portrait & landscape: ;
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  .menu{
    .menu-links{
      .menu-item{
        margin-left: 0;
        &:hover{
          box-shadow: none;
        }
      }
    }
  }
  #menu_btn{
    display: block;
  }
}

@media only screen and (max-width : 767px){
  .top-grad{
    top: 0;
    height: 500px;
  }
}
</style>